<!DOCTYPE html>
<html>
	<head>
		<title>THE DELTA</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/fa.css' />
		<script src='/js/script.js'></script>
	</head>
	<body>
		<% include navbar %>
		<div id="content">