<!DOCTYPE html>
<html>
	<head>
		<title>THE DELTA</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/fa.css' />
		<script src='/js/script.js'></script>
		<meta name="google-site-verification" content="pW2ZJwOOTYBK5iVwDKVMZMV7n7NrhZi63ubYkbOm3vY" />
	</head>
	<body>
		<% include navbar %>
		<div id="content">
