<div id="khk-header">
	<div id="khk-header-app">
		<a href="/" class="real khk-header-link">
			The Delta
		</a>
		<% if(locals.title) { %>
		<i class="fa fa-caret-right" id="khk-header-point"></i>
		<a href="#" class="<%if(logged){%>real<%}%> khk-header-link">
			<%- title %>
		</a>
		<% } %>
	</div>
	<div id="khk-header-user">
	<% if(logged){ %>
		<span class="khk-header-link">
			<% if(user.privilegeLevel == 2) { %>
				<i class="fa fa-bolt admin"></i>
			<% } %>
			<%- user.name %>
		</span>
		<a href="http://the.delta.khk.org/signout" class="real khk-header-link">
			<i class="fa fa-sign-out"></i>
		</a>
	<% } %>
	</div>
</div>
<div id="khk-header-presser"></div>
