<% include inc/head %>
	<div id="applications">
		<% for(var i=0; i<apps.length; i++){ %>
			<div class="application" onclick="window.location='http://<%- apps[i].subdomain %>.delta.khk.org'">
				<% if(apps[i].image) { %>
					<img src="/img/<%- apps[i].image %>">
				<% } else { %>
					<i class="fa <%- apps[i].icon %>"></i>
				<% } %>
				<%- apps[i].name %>
			</div>
		<% } %>
	</div>
<% include inc/foot %>
